
body {
    background-image: url('../imagens/madeira.jpg');
    background-repeat: repeat;
    background-position:center;
    margin: 0; 
    padding: 0;
}


.cabecalho {
    background: #02213f;
    padding: 4rem;
}
.cabecalho nav {
    display: flex;
    gap: 10rem;
    align-items: center;
}
.cabecalho nav a {
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    color: #FFF;

}
.cabecalho nav img {
    align-items: center;
    width: 13rem;
    height: 13rem;
}


.tapete{
   
}


.titulo {
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    vertical-align: middle;
    width: 100%;
}
.titulo p  {
    color: #000000;
    text-align: justify;
    font-size: 3rem;
}


.comeco{
    display: flex;
    justify-content: start;
    gap: 3rem;
    align-items: start;
    vertical-align: middle;
    width: 100%;
}
.comeco p {
    color: #000000;
    text-align: justify;
    font-size: 2rem;
}


.meio{
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items:  center;
    vertical-align: middle;
    width: 100%;
}
.meio p {
    color: #000000;
    text-align: justify;
    font-size: 2rem;
}


.fim {
    display: flex;
    justify-content: end;
    gap: 3rem;
    align-items:  end;
    vertical-align: middle;
    width: 100%;
}
.fim p {
    color: #000000;
    text-align: justify;
    font-size: 2rem;
}